.indivBody{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.indivInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBTN{
    border: 1px black solid;
    padding: 10px;
    background-color: royalblue;
    border-radius: 25% 25%;
    font-weight: bolder;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 60px;
}

.indivTypes{
    border: 1px solid black;
    padding: 5px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}